<% cache ChangeLog::Base.last_release do %>
    <% if ChangeLog.config.tag_filter_enabled %>
        <fieldset>
          <legend>Tags:</legend>
          <ul class="tag-list">
            <% @items.collect(&:tags).join(',').split(',').uniq.each do |tag| %>
                <li>
                  <%= check_box_tag '_', tag, true %>  <%= tag %>
                </li>
            <% end %>
          </ul>
        </fieldset>
    <% end %>

    <% @items.each do |item| %>
        <div class="version-wrapper">
          <h2> <%= item.version %> {<%= l item.time.to_date %>}</h2>
          <%= md item.message %>
        </div>
    <% end %>
    <% if @items.count == 0 %>
        Please run <code>rake change_log:update_log</code> to get change logs here. <br/>
        For more information please visit: <a href="https://github.com/amuntasim/change-log">ChangeLog Wiki</a>

    <% end %>
<% end %>
